<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nenick.wiremock">

    <!-- With WireMock we use android internet tools and we need the permission for that. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Necessary since Android 26 that service need to be started in foreground. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".WireMockService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />
        <!--
        With Android 28 the http tools changed but for WireMock we still need the origin.

        Without the origin tool we get this exception:
            java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/protocol/HttpRequestExecutor;
            Caused by: java.lang.ClassNotFoundException: Didn't find class "org.apache.http.protocol.HttpRequestExecutor" on path: DexPathList[...]
        -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>