<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0.0-SNAPSHOT"
          package="com.example">

    <uses-sdk android:minSdkVersion="11"
              android:targetSdkVersion="19"/>

    <!-- remove this permission if no network communication necessary -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ExampleApplication"
        android:label="TemplateApp">

        <activity android:name=".main.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".databaseexample.DatabaseActivity_" />
        <activity android:name=".restexample.RestActivity_" />

        <provider
            android:name="com.example.provider.AgendaProvider"
            android:authorities="com.example.provider"
            android:exported="false" />

    </application>
</manifest>