<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.start.StartActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.contact_list.ContactListActivity_"
            android:label="@string/app_name" />
        <activity
            android:name=".views.contact_details.DetailActivity_"
            android:label="@string/app_name" />
        <activity
            android:name=".views.contact_edit.EditActivity_"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.contact_list.ContactListActivity_" />
        </activity>
        <provider
            android:name="com.example.project.database.ExampleProvider"
            android:authorities="com.example.project"
            android:exported="false" />
    </application>

</manifest>
